/.vs
/.vscode
debug.txt
testing.php
gmail.txt
host.txt
/.vs/Project/FileContentIndex/5a3b56ad-0250-4ba3-b584-5d0c2499ee26.vsidx
/.vs/Project/FileContentIndex/read.lock
/.vs/Project/FileContentIndex/20412ef3-e727-4d4d-9c97-7574bf978042.vsidx
/.vs/Project/FileContentIndex/3c76960b-0f4f-470f-a5e0-7e931d5e1343.vsidx
/.vs/Project/FileContentIndex/b1e2997f-395b-4854-a350-45a7d16559cf.vsidx
/.vs/Project/FileContentIndex
/.vs
/.vscode
constants.php
